<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/cabecero :: cabecero-seccion(titulo='Agregar')}"></head>
<body>

<div th:replace="~{fragmentos/navegador :: navegador-seccion}"></div>

<div class="container">
    <div class="container" style="margin:30px">
        <h3 class="text-center">Agregar Contacto</h3>
    </div>
    <div class="container">
        <form action="/agregar" modelAttribute="contactoForma" method="post">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre del Contacto</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>
            </div>
            <div class="mb-3">
                <label for="celular" class="form-label">No. de Celular</label>
                <input type="text" class="form-control" id="celular" name="celular" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-warning btn-sm">Agregar</button>
                <a href="/" class="btn btn-danger btn-sm me-3">Regresar</a>
            </div>
        </form>
    </div>
</div>

<div th:replace="~{fragmentos/pie-pagina :: pie-pagina-seccion}"></div>

</body>
</html>
